<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form id="register-class" class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput 
                   placeholder="First name"
                   id="registerFirstName"
                   required
                   [(ngModel)]="user.firstname"
                   name="firstname">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput 
                   placeholder="Last name"
                   id="registerLastName"
                   required
                   [(ngModel)]="user.lastname"
                   name="lastname">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <input matInput 
                   placeholder="Username"
                   id="registerUsername"
                   required
                   [(ngModel)]="user.username"
                   name="username">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <input matInput 
                   placeholder="Email"
                   id="registerEmail"
                   required
                   [(ngModel)]="user.email"
                   name="email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput 
                   placeholder="Password"
                   id="registerPassword"
                   required
                   [(ngModel)]="user.password"
                   name="password">
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block" (click)="userRegister()">Register</button>
  
      </form>
    </mat-card>
  </div>