<!-- HM Navbar -->
<mat-toolbar color="primary" class="app-header">
    <div><a href="#" target="_blank" class="positronx"><i class="fas fa-horse"></i> Horse Manager</a></div>
    <span class="nav-tool-items">
      <a *ngIf="this.authentificationService.isAuthenticated()" mat-button mat-raised-button routerLink="login" routerLinkActive="active" (click)="userLogout()"><i class="fas fa-power-off"></i> Logout</a>
      <a *ngIf="!this.authentificationService.isAuthenticated()" mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a *ngIf="!this.authentificationService.isAuthenticated()" mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
</mat-toolbar>