<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fas fa-horse"></i> Create new horse</h4>
          <button type="button" class="close" (click)="hideModal()"><i class="fas fa-times-circle"></i></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <mat-card-content >
                <mat-form-field class="example-full-width">
                  <input 
                      matInput 
                      placeholder="Horse name" 
                      id="horseName"
                      required
                      [(ngModel)]="horse.name"
                      name="name">
                </mat-form-field>
                <br/>
                <mat-form-field class="example-full-width">
                  <input 
                      matInput 
                      placeholder="Horse colour"
                      id="horseColour"
                      required
                      [(ngModel)]="horse.colour"
                      name="colour">
                </mat-form-field>
                <br/>
                <mat-form-field class="example-full-width">
                  <input 
                      matInput 
                      placeholder="Horse speed"
                      id="horseSpeed"
                      required
                      [(ngModel)]="horse.speed"
                      type="number"
                      name="speed">
                </mat-form-field>
                <br/>
                <mat-form-field class="example-full-width">
                  <input 
                      matInput 
                      placeholder="Horse breed"
                      id="horseBreed"
                      required
                      [(ngModel)]="horse.breed"
                      name="breed">
                </mat-form-field>
                <br/>
                <mat-form-field class="example-full-width">
                  <input 
                      matInput 
                      placeholder="Horse image (link)"
                      id="horseImage"
                      required
                      [(ngModel)]="horse.image"
                      name="image">
                </mat-form-field>
              </mat-card-content>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="createHorse()"><i class="fas fa-paper-plane"></i> Send</button>
          <button type="button" class="btn btn-danger" (click)="hideModal()"><i class="fas fa-times"></i> Close</button>
        </div>
      </div>
    </div>
</div>