<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <!-- Display message when incorrect credentials  -->
      <h5 *ngIf="this.invalidLogin" class="text-danger">Incorrect login information, please check your credentials and try again.</h5>
      <br />
      <!-- Login form -->
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input 
                matInput 
                placeholder="Username" 
                id="username"
                required
                [(ngModel)]="user.username"
                name="username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input 
                matInput 
                placeholder="Password"
                id="password"
                required
                [(ngModel)]="user.password"
                name="password">
          </mat-form-field>
        </mat-card-content>
        <button (click)="userLogin()" mat-stroked-button color="accent" class="btn-block">Log in</button>
      </form>
    </mat-card>
  
  </div>