<div class="container">
    <!-- Horse list table -->
    <table class="table">
    <thead class="thead-dark">     
      <tr>
        <th scope="col"><img class="add-horse-btn" data-toggle="modal" data-target="#myModal" (click)="showModal()" src='assets/images/add_horse_img.png' height="40px" width="40" alt="Add horse"></th>
        <th scope="col">Name</th>
        <th scope="col">Colour</th>
        <th scope="col">Speed</th>
        <th scope="col">Breed</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horse of horsesTab">
        <td></td>
        <td>{{horse.name}}</td>
        <td>{{horse.colour}}</td>
        <td>{{horse.speed}}</td>
        <td>{{horse.breed}}</td>
        <td><img src="{{horse.image}}" height="70px" width="70px" alt="Horse picture"></td>
        <td>
          <span style="font-size:1.5em;color:#686de0;">
            <i (click)="openSnackBar('Soon...', '')" class="fas fa-feather-alt"></i>
          </span>
          <span class="ml-3" style="font-size:1.5em;color:#eb4d4b;">
            <i (click)="openSnackBar('Soon...', '')" class="fas fa-minus-square"></i>
          </span>
        </td>
      </tr>
    </tbody>
    </table>
</div>
<app-horse-modal></app-horse-modal>
